/*                              */
/*      Custom properties       */
/*           start              */


:root {

    /* colors */

    --clr-light: 30, 100%, 97%;
    --clr-light-high: 0, 0%, 100%;
    --clr-light-low: ;
    --clr-dark: 185, 30%, 54%;
    --clr-dark-low: 176, 62%, 87%;
    --clr-dark-high: 0, 0%, 0%;



    /* font-families */


    


}

/*                              */
/*      Custom properties       */
/*         end                  */


/*                   */
/*      Reset        */
/*       start       */

/* https://piccalil.li/blog/a-modern-css-reset/ */



/*  Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {

    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/*  set up the body */

body {
    font-family: var(--ff-sans-normal,sans-serif);
    font-size: var(--fs-400,1rem);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-light-high));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;

}

/* makes img easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}


picture[hidden] {

    display: none;
}


/* make form elements easier to work with */

input,
button,
textarea,
select {
    font: inherit;
}


/* remove animations for people who turned them off*/

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {

        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

}


/*                   */
/*      Reset        */
/*       end       */



* {
    box-sizing: border-box;
    margin: 0;
}

main {
    background: linear-gradient(to right, hsla(var(--clr-dark-low,#C8F2EF),0.5) 66%, #C8F2EF );
    height: 80vh;
}
.primary-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background-color: hsl(var(--clr-dark,#68A7AD));
   

}

@supports (backdrop-filter: blur(25px)) {

    .primary-navigation {

        background-color: hsla(var(--clr-light-high) / .12);
        backdrop-filter: blur(25px);

    }

}

footer {
    background-color: hsl(var(--clr-dark,#68A7AD));
    height: 7vh;
}

.main-grid {

    height: 80vh;
}

.primary-navigation ul {
    display: flex;
    justify-content: space-evenly;
    width: 66%;
}
.presentation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}




.topics {
    position: relative;
    width: 30rem;
    aspect-ratio: 1;
    list-style: none;
    /* display: block; */
    border: 1px solid black;
    border-radius: 50%;

}

.topics li {
    position: absolute;
    top: 12rem;
    left: 12rem;
    width: 6rem;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 50%;
}

.education{
background-image: url(./assets/graduation-cap.svg);
background-size: 80%;
background-repeat: no-repeat;
background-position: center;
transform: translate(18rem);
text-align: center;
background-color: orange;

}

/* .education::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400%;
    height: 400%;
    

} */

.education a {

    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;


}


.topics li:nth-of-type(2) {

transform: rotate(180deg) translate(18rem) rotate(-180deg);

}


