* {
    box-sizing: border-box;
    margin: 0;
}

main {
    background: linear-gradient(to right,hsla(30, 100%, 97%,.5) 66%, #C8F2EF );
    height: 80vh;
}
.main-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background-color: #68A7AD;
   

}

footer {
    background-color: #68A7AD;
    height: 7vh;
}

.main-grid {

    height: 80vh;
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 66%;
}
.presentation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}




.topics {
    position: relative;
    width: 30rem;
    aspect-ratio: 1;
    list-style: none;
    /* display: block; */
    border: 1px solid black;
    border-radius: 50%;

}

.topics li {
    position: absolute;
    top: 12rem;
    left: 12rem;
    width: 6rem;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 50%;
}

.education{
background-image: url(./assets/graduation-cap.svg);
background-size: 80%;
background-repeat: no-repeat;
background-position: center;
transform: translate(18rem);
text-align: center;
background-color: orange;

}

/* .education::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400%;
    height: 400%;
    

} */

.education a {

    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;


}


.topics li:nth-of-type(2) {

transform: rotate(180deg) translate(18rem) rotate(-180deg);

}


